<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>searchNameAndPrice</title>
</head>
<body>
<h1>" [[${param.menuName}]] " 키워드가 포함되고, " [[${param.menuPrice}]] "원 이하의 메뉴 목록</h1>
<table>
  <tr>
    <td>메뉴번호</td>
    <td>메뉴이름</td>
    <td>메뉴가격</td>
    <td>카테고리코드</td>
    <td>판매상태</td>
  </tr>
  <tr th:each="menu : ${menuList}">
    <td th:text="${menu.menuCode}"></td>
    <td th:text="${menu.menuName}"></td>
    <td th:text="${menu.menuPrice}"></td>
    <td th:text="${menu.categoryCode}"></td>
    <td th:text="${menu.orderableStatus}"></td>
  </tr>
</table>
</body>
</html>