<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>searchCategoryAndMenuResult</title>
</head>
<body>
<h1>" [[${param.categoryCode}]] "번 카테고리 메뉴 검색결과</h1>
<table>
    <tr>
        <td>메뉴번호</td>
        <td>메뉴이름</td>
        <td>메뉴가격</td>
        <td>카테고리코드</td>
        <td>판매상태</td>
    </tr>
    <tr th:each="menu : ${menuList}">
        <td th:text="${menu.menuCode}"></td>
        <td th:text="${menu.menuName}"></td>
        <td th:text="${menu.menuPrice}"></td>
        <td th:text="${menu.categoryCode}"></td>
        <td th:text="${menu.orderableStatus}"></td>
    </tr>
</table>
</body>
</html>