<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test3</title>
</head>
<body>
  <h1>카테고리별 메뉴 검색하기</h1>
  <form action="/menu/searchCategoryAndMenu" >
    <label>카테고리선택 : </label>
    <select name="categoryCode" id="categoryCode"></select>
    <input type="submit" value="전송">
  </form>
</body>

<script>
    fetch('/menu/searchCategory')
    .then(res => res.json())

    .then(data => {
    console.log(data)
    const $categoryCode = document.getElementById('categoryCode');
    for(let index in data) {
    const $option = document.createElement('option');
    $option.value = data[index].categoryCode;
    $option.textContent = data[index].categoryName;
    $categoryCode.append($option)
  }
  });
</script>

</html>